:root {
  --primery-text-color: #757575;
  --second-text-color: #2196f3;
  --third-text-color: #212121;
  --fourth-text-color: #ffffff;
  --logo-studio-color: hsl(0, 0%, 0%);
  --hero-btn-color: #188ce8;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primery-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --fourht-bg-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primery-bg-color);
}

/* Header  */
.site-nav {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-decoration: none;
  cursor: pointer;
}
.logo-studio {
  color: var(--logo-studio-color);
}
.link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--third-text-color);
  text-decoration: none;
  cursor: pointer;
}
.nav-link {
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.link:hover,
.link:focus {
  color: var(--second-text-color);
}
/* Authorization */
.auth-list {
  list-style: none;
}
.auth-link {
  color: var(--primery-text-color);
}
.current {
  color: var(--second-text-color);
}

/* Hero  */
.hero {
  background-color: var(--third-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--fourth-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--fourth-text-color);
  background-color: var(--fourht-bg-color);
  border-radius: 4px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-color);
}

/* Our differences */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.differences-list {
  list-style: none;
}
.title {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.differences-title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.differences-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* Our work */
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-list {
  list-style: none;
}

/* Our team */
.team {
  background-color: var(--second-bg-color);
}
.team-list {
  list-style: none;
}
.team-items {
  background-color: var(--primery-bg-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.team-job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* Footer */
.footer {
  background-color: var(--third-bg-color);
}
.logo-footer {
  color: var(--fourth-text-color);
}
.address-list {
  list-style: none;
  letter-spacing: 0.03em;
}
.address-text {
  font-style: normal;
  line-height: 1.71;
  color: var(--fourth-text-color);
  text-decoration: none;
  cursor: pointer;
}
.contacts {
  font-style: normal;
  line-height: 1.71;
  color: var(--contacts-text-color);
  text-decoration: none;
  cursor: pointer;
}
.address-text:hover,
.address-text:focus,
.contacts:hover,
.contacts:focus {
  color: var(--second-text-color);
}

/* Portfolio */
.portfolio-btn {
  list-style: none;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--third-text-color);
  background-color: var(--second-bg-color);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn:hover,
.btn:focus {
  color: var(--fourth-text-color);
  background-color: var(--fourht-bg-color);
}
.portfolio-list {
  list-style: none;
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  color: var(--third-text-color);
  letter-spacing: 0.06em;
}
.portfolio-work {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
}

